.card {
  width: 580px;
  min-height: 300px;
  display: flex;
  border: 1px solid #b2b2b2;
  border-radius: 5px;

  .image-wrapper {
    min-width: 300px;
    min-height: 300px;
    width: 50%;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__info {
    padding: 20px;
  }
}
